asn1crypto==0.24.0
cffi==1.13.2
Click==7.0
cryptography==2.3
enum34==1.1.6
Flask==1.1.1
glob2==0.7
glob3==0.0.1
gunicorn==19.10.0
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
numpy==1.16.5
Pillow==6.2.1
pkgconfig==1.5.1
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pytesseract==0.3.0
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
urllib3==1.25.7
